#
# https://help.github.com/articles/dealing-with-line-endings/
#

# Handle line endings automatically for files detected as text and leave all files detected as binary untouched.
* text=auto

# These are shell script files and should use lf
*.sh            text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf
